USE [JOCPaymentTracking]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 8/30/2023 3:21:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[group_type_id] [int] NOT NULL,
	[group_name] [nvarchar](100) NULL,
	[display_name] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[email_notifications] [bit] NULL,
	[sms_notifications] [bit] NULL,
	[enabled] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([group_id], [group_type_id], [group_name], [display_name], [description], [email_notifications], [sms_notifications], [enabled], [created_at], [updated_at], [deleted_at]) VALUES (1, 1, N'Administrators', N'Administrators', NULL, NULL, NULL, NULL, CAST(N'2023-07-07T13:42:40.5033333' AS DateTime2), NULL, NULL)
INSERT [dbo].[Groups] ([group_id], [group_type_id], [group_name], [display_name], [description], [email_notifications], [sms_notifications], [enabled], [created_at], [updated_at], [deleted_at]) VALUES (2, 1, N'ApplicationSupports', N'Application Supports', NULL, NULL, NULL, NULL, CAST(N'2023-07-07T13:42:40.5033333' AS DateTime2), NULL, NULL)
INSERT [dbo].[Groups] ([group_id], [group_type_id], [group_name], [display_name], [description], [email_notifications], [sms_notifications], [enabled], [created_at], [updated_at], [deleted_at]) VALUES (3, 1, N'Executives', N'Executives', N'Commissioner, Deputy Commissioner', NULL, NULL, NULL, CAST(N'2023-07-07T13:42:40.5033333' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_GroupTypes] FOREIGN KEY([group_type_id])
REFERENCES [dbo].[GroupTypes] ([group_type_id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_GroupTypes]
GO
