USE [JOCPaymentTracking]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 8/30/2023 3:21:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[permission_id] [int] IDENTITY(1,1) NOT NULL,
	[table_name] [nvarchar](100) NULL,
	[permission_name] [nvarchar](100) NULL,
	[display_name] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([permission_id], [table_name], [permission_name], [display_name], [created_at], [updated_at]) VALUES (1, N'CellCarriers', N'CellCarriers_Read', N'CellCarriers Read', CAST(N'2023-07-07T13:42:40.4700000' AS DateTime2), NULL)
INSERT [dbo].[Permissions] ([permission_id], [table_name], [permission_name], [display_name], [created_at], [updated_at]) VALUES (2, N'ConfirmatonCodes', N'ConfirmatonCodes_Read', N'ConfirmatonCodes Read', CAST(N'2023-07-07T13:42:40.4700000' AS DateTime2), NULL)
INSERT [dbo].[Permissions] ([permission_id], [table_name], [permission_name], [display_name], [created_at], [updated_at]) VALUES (3, N'DBLogs', N'DBLogs_Read', N'DBLogs Read', CAST(N'2023-07-07T13:42:40.4700000' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
