USE [JOCPaymentTracking]
GO
/****** Object:  Table [dbo].[UserLogs]    Script Date: 8/30/2023 3:21:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogs](
	[user_log_id] [int] IDENTITY(1,1) NOT NULL,
	[controller] [nvarchar](50) NULL,
	[action] [nvarchar](50) NULL,
	[user_agent] [nvarchar](max) NULL,
	[url_current] [nvarchar](max) NULL,
	[url_referral] [nvarchar](max) NULL,
	[client_ip] [nvarchar](max) NULL,
	[message] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[created_by] [int] NULL,
 CONSTRAINT [PK_UserLogs] PRIMARY KEY CLUSTERED 
(
	[user_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserLogs] ON 

INSERT [dbo].[UserLogs] ([user_log_id], [controller], [action], [user_agent], [url_current], [url_referral], [client_ip], [message], [created_at], [created_by]) VALUES (1, N'HomeAPIController', N'Home', NULL, NULL, NULL, NULL, NULL, CAST(N'2023-07-07T13:44:18.3410107' AS DateTime2), 1)
INSERT [dbo].[UserLogs] ([user_log_id], [controller], [action], [user_agent], [url_current], [url_referral], [client_ip], [message], [created_at], [created_by]) VALUES (2, N'HomeAPIController', N'Home', NULL, NULL, NULL, NULL, NULL, CAST(N'2023-07-07T13:48:15.0081376' AS DateTime2), 1)
INSERT [dbo].[UserLogs] ([user_log_id], [controller], [action], [user_agent], [url_current], [url_referral], [client_ip], [message], [created_at], [created_by]) VALUES (3, N'User', N'Read', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36 Edg/114.0.1823.67', N'localhost:5000', NULL, N'::1', N'Access Granted', CAST(N'2023-07-07T13:48:16.4299107' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[UserLogs] OFF
GO
