USE [JOCPaymentTracking]
GO
/****** Object:  Table [dbo].[Contractors]    Script Date: 8/30/2023 3:21:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contractors](
	[contractor_id] [int] IDENTITY(1,1) NOT NULL,
	[contractor_name] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NULL,
	[created_by] [int] NULL,
	[updated_at] [datetime2](7) NULL,
	[updated_by] [int] NULL,
	[removed_at] [datetime2](7) NULL,
	[removed_by] [int] NULL,
 CONSTRAINT [PK_Contractors] PRIMARY KEY CLUSTERED 
(
	[contractor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contractors] ON 

INSERT [dbo].[Contractors] ([contractor_id], [contractor_name], [created_at], [created_by], [updated_at], [updated_by], [removed_at], [removed_by]) VALUES (1, N'ACME', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Contractors] ([contractor_id], [contractor_name], [created_at], [created_by], [updated_at], [updated_by], [removed_at], [removed_by]) VALUES (2, N'AWL Industries', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Contractors] ([contractor_id], [contractor_name], [created_at], [created_by], [updated_at], [updated_by], [removed_at], [removed_by]) VALUES (3, N'Community Electric', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Contractors] OFF
GO
ALTER TABLE [dbo].[Contractors] ADD  CONSTRAINT [DF_Contractors_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
