<a class="dropdown-item" href="#">
  <i class="fas fa-table-list fa-sm fa-fw mr-2 dep-text-green"></i>
  BWT App Directory
</a>

<div class="dropdown-divider"></div>

<a class="dropdown-item" href="#">
  <i class="fa-solid fa-people-group fa-sm fa-fw mr-2 dep-text-green"></i>
  Support / Help
</a>

<a class="dropdown-item" href="#">
  <i class="fa-solid fa-ticket fa-sm fa-fw mr-2 dep-text-green"></i>
  Submit a Ticket
</a>

<div class="dropdown-divider"></div>

<a class="dropdown-item" href="#">
  <i class="fas fa-id-card fa-sm fa-fw mr-2 dep-text-green"></i>
  My Profile
</a>

<a class="dropdown-item" href="#">
  <i class="fas fa-cogs fa-sm fa-fw mr-2 dep-text-green"></i>
  My Settings
</a>

<a class="dropdown-item" href="#">
  <i class="fas fa-list fa-sm fa-fw mr-2 dep-text-green"></i>
  My Activity Log
</a>

<div class="dropdown-divider"></div>

<a class="dropdown-item" href="#">
<i class="fa-solid fa-industry fa-sm fa-fw mr-2 dep-text-blue"></i>
Plant Permissons
</a>

<a class="dropdown-item" href="#">
<i class="fa-solid fa-user-gear fa-sm fa-fw mr-2 dep-text-blue"></i>
User Permissions
</a>
<a class="dropdown-item" href="#">
<i class="fa-solid fa-users-gear fa-sm fa-fw mr-2 dep-text-blue"></i>
Group Permissons
</a>

<div class="dropdown-divider"></div>

<a class="dropdown-item" href="#" routerLink="LoggingDashboard">
<i class="fas fa-list fa-sm fa-fw mr-2 dep-text-blue"></i>
Logging Dashboard
</a>

<div class="dropdown-divider"></div>

<a class="dropdown-item" href="#">
<i class="fas fa-code-compare fa-sm fa-fw mr-2 dep-text-blue"></i>
API Reference
</a>
<!--
=========================================================================================
========= SECONDARY NAVIVATION ENDS==========================================================
=========================================================================================
-->
<div class="dropdown-divider"></div>

<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 dep-text-blue"></i>
Logout
</a>