  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Permissions
          <button *ngIf="btnFilter != true" data-toggle="modal" data-target="#PermissionModal" dataCY="setPrimaryIdAdd" class="btn btn-success" (click)="setPrimaryId(null)">Add</button>
          <span class="dropdown">            
            <button *ngIf="btnFilter == true" class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter By Username
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <span *ngFor="let selectedFilter of btnFilterValues">
                <a class="dropdown-item" href="#" (click)="setSelectedValue(selectedFilter.UserId, selectedFilter.Username)">{{selectedFilter.Username}}</a>
              </span>
             
            </div> 
          </span> 
        </h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table datatable class="table table-bordered dataTable" width="100%" cellspacing="0" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">

            <thead>
            <tr>
              <th *ngFor="let header of tableTH;">
                {{header}}
              </th>
              <th>Options</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th *ngFor="let header of tableTH;">
                {{header}}
              </th>
              <th>Options</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let entity of entities ">

              <td *ngFor="let item of tableTH">
                <div *ngIf="stringService.isDateTime(entity[item]) == false" [ngClass]="stringService.isDescBox(entity[item])">{{stringService.getBrokenLongString(entity[item])}}</div>
                <div *ngIf="stringService.isDateTime(entity[item]) == true">{{stringService.getDateTime(entity[item]) | date: 'short'}}</div>
              </td>

              <td class="btn-group" role="group">
                <a *ngIf="btnFilter == true" href="#" class="btn btn-info" data-toggle="modal" data-target="#PermissionModal" (click)="setPrimaryId(entity)">Details</a>
                <a *ngIf="btnFilter != true" href="#" class="btn btn-warning" data-toggle="modal" data-target="#PermissionModal" (click)="setPrimaryId(entity)">Edit</a>
                <a *ngIf="btnFilter != true" href="#" class="btn btn-danger" (click)="removeRecord(entity)">Remove</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <div>


  <div class="modal" id="PermissionModal">
    <app-permissions-edit [primaryIdInput]="primaryIdUpdateInput" (refreshParentPage)="setRefreshPage($event)"></app-permissions-edit>
  </div>
