  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <h2 class="m-0 font-weight-bold text-primary">Monthly Requisition for Job Order Number: #########</h2>
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Capital Invoice
   
        </h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table datatable class="table table-bordered dataTable" width="100%" cellspacing="0" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">

          <thead>
            <tr>
              <th>Invoice Number</th>
              <th>Invoice Number</th>
              <th>Recieves Monthly Requisition Date</th>  
              <th>Submits ACCO Requisition Date</th>  
                         
              <th>Options</th>
            </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Recieves Monthly Requisition Date</th>  
            <th>Submits ACCO Requisition Date</th>  
            <th>Invoice Number</th>    
            <th>Options</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>12/5/2020</td>
            <td>2/5/2020</td>
            <td>IP876525</td>
            <td class="btn-group" role="group">
              <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#UserModal">Details</a>
              
            </td>
          </tr>
          <tr>
            <td>12/5/2020</td>
            <td>2/5/2020</td>
            <td>IP876525</td>
            <td class="btn-group" role="group">
              <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#UserModal">Details</a>
              
            </td>
          </tr>
          <tr>
            <td>12/5/2020</td>
            <td>2/5/2020</td>
            <td>IP876525</td>
            <td class="btn-group" role="group">
              <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#UserModal">Details</a>
              
            </td>
          </tr>
          <tr>
            <td>12/5/2020</td>
            <td>2/5/2020</td>
            <td>IP876525</td>
            <td class="btn-group" role="group">
              <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#UserModal">Details</a>
              
            </td>
          </tr>
          <tr>
            <td>12/5/2020</td>
            <td>2/5/2020</td>
            <td>IP876525</td>
            <td class="btn-group" role="group">
              <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#UserModal">Details</a>
              
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  <div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Expense Invoice

        </h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table datatable class="table table-bordered dataTable" width="100%" cellspacing="0" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">

            <thead>
              <tr>
                <th>Recieves Monthly Requisition Date</th>  
                <th>Submits ACCO Requisition Date</th>  
                <th>Invoice Number</th>    
                <th>Options</th>
              </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Recieves Monthly Requisition Date</th>  
              <th>Submits ACCO Requisition Date</th>  
              <th>Invoice Number</th>    
              <th>Options</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>12/5/2020</td>
              <td>2/5/2020</td>
              <td>IP876525</td>
              <td class="btn-group" role="group">
                <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#UserModal">Details</a>
                
              </td>
            </tr>
            <tr>
              <td>12/5/2020</td>
              <td>2/5/2020</td>
              <td>IP876525</td>
              <td class="btn-group" role="group">
                <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#UserModal">Details</a>
                
              </td>
            </tr>
            <tr>
              <td>12/5/2020</td>
              <td>2/5/2020</td>
              <td>IP876525</td>
              <td class="btn-group" role="group">
                <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#UserModal">Details</a>
                
              </td>
            </tr>
            <tr>
              <td>12/5/2020</td>
              <td>2/5/2020</td>
              <td>IP876525</td>
              <td class="btn-group" role="group">
                <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#UserModal">Details</a>
                
              </td>
            </tr>
            <tr>
              <td>12/5/2020</td>
              <td>2/5/2020</td>
              <td>IP876525</td>
              <td class="btn-group" role="group">
                <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#UserModal">Details</a>
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <div>
  <div class="modal" id="UserModal">
    <!--//<app-users-edit [primaryIdInput]="primaryIdUpdateInput" (refreshParentPage)="setRefreshPage($event)"></app-users-edit>//-->
  </div>
